<a href="https://colab.research.google.com/github/ManeeshDhu/Discrete_Math/blob/main/DhunganaManish_CPSMA_3913_Project_6_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Module 6 : Numbers**

CPSMA 3913. Discrete Mathematics

Student: Manish Dhungana #238129

Instructor : Dr. Jacob

**a)** Converting the base 7 number, 24036 to base 10

In [84]:
#function to convert any base number to different base numebr
def base_converter(num,base):
  result = 0
  count= 0
  numb = len(str(num)) # calculate the length of number
  num1 = [int(x) for x in str(num)] #its converts int to list
  for i in map(int, num1):
    count +=1
    result +=i* (base**(numb- count))
  return result

In [85]:
base_converter(24036,7) #calling our fucntion  with 2 arguments

6201

**b)** Converting the hexadecimal number 72e3 into base ten

In [86]:
def hexatobase(numb):
 result = 0
 count = 0
 base = 16
 for ch in numb:
   count += 1
   num = 0
   if ch == 'a' or ch == 'A':
     num = 10
   elif ch == 'b' or ch == 'B': 
     num = 11
   elif ch == 'c' or ch == 'C':
     num = 12
   elif ch == 'd' or ch == 'D':
     num = 13
   elif ch == 'e' or ch == 'E':
     num = 14
   elif ch == 'f' or ch == 'F':
     num = 15
   else:
     num = int(ch)
   result += num * (base**(len(numb) - count))
 return result

In [87]:
hexatobase('72e3')

29411

**C)** Converting 3735928559 into hexadecimal

In [88]:
from math import floor

result = ''
count = 0
num = 3735928559

def convert(num):
  m = num % 16
  h = ''
  if m == 10:
    h = 'A'
  elif m == 11:
    h = 'B'
  elif m == 12:
    h = 'C'
  elif m == 13:
    h = 'D'
  elif m == 14:
    h = 'E'
  elif m == 15:
    h = 'F'
  else:
    h = str(m)
  return h

while num > 15:
  result = convert(num) + result
  num = floor(num/16)

result = convert(num) + result

result

'DEADBEEF'

**(D)** Using two’s complement preform the base ten subtraction 25 − 37.

In [89]:
def addone(list7binary):
  counter = 7
  list7binary[counter] = str(1 + int(list7binary[counter]))
  while list7binary[counter]=='2':
    list7binary[counter] = '0'
    counter -= 1
    list7binary[counter] = str(1 + int(list7binary[counter]))
  return list7binary

def flipit(list7binary):
  newlist = []
  for i in list7binary:
    if i == '0':
      newlist.append('1')
    else:
      newlist.append('0')
  return newlist
def twoscomplement(x):
  if not (x>-128)&(x<127):
    return "No Two's Complement"
  ans = '00000000'
  ans = list(ans) 
  counter = 7
  if x>=0:
    while x != 0:
      ans[counter] = str(x%2)
      x = floor(x/2)
      counter -= 1
  if x<0:
    x = abs(x)
    while x != 0:
      ans[counter] = str(x%2)
      x = floor(x/2)
      counter -= 1
    ans = flipit(ans)
    addone(ans)        
  ans = ''.join(ans)
  return ans

In [90]:
twoscomplement(25)

'00011001'

In [91]:
twoscomplement(-37)

'11011011'

In [92]:
#performing the base ten Subtracting 25 -37 using two's complement
binary = "11001"
twos_comp1 = "11011011"
dif = bin(int(binary, 2) + int(twos_comp1, 2))
print(dif[2:])

11110100

Let's check the answer.  if my all codes are working correcty it should give me -12 as an output because 25 -37 = -12. -12 two's complement binary is 11110100

In [93]:

def twosCom_binDec(bin, digit):
        while len(bin)<digit :
                bin = '0'+bin
        if bin[0] == '0':
                return int(bin, 2)
        else:
                return -1 * (int(''.join('1' if x == '0' else '0' for x in bin), 2) + 1)

In [94]:
twosCom_binDec("11110100",8)

-12