<a href="https://colab.research.google.com/github/ManeeshDhu/Discrete_Math/blob/main/DhunganaManish_CPSMA_3913_Project_7_Logic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Module 7 : Logic**

CPSMA 3913. Discrete Mathematics

Student: Manish Dhungana #238129

Instructor : Dr. Jacob

For my  project,There are going to be three propositions. The three propostions are as below:


1.   Burger - p
2.   Pop - r
3.   Fries -q

In [1]:
Burger = True
Fries = True
Pop = False

**Truth of the Statements**

r ∧ p

In [2]:
Fries and Burger

True

r ∨ ¬q

In [3]:
Fries or not Pop

True

r ⇒ p

In [4]:
not Fries or Burger

True

**Generating Truth Table**

In [8]:
import ttg

In [9]:
table = ttg.Truths(['P', 'Q', 'R'], ['~Q', 'R and P', 'R or ~Q', 'R => P'], ints = False)
table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()

In [10]:
table = ttg.Truths(['P', 'Q', 'R'], ['P xor Q', '~(P xor Q)', 'Q or R', '(~(P xor Q)) => (Q or R)'], ints = False)
table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()